<div class="container about-page">
  <h1>Play With Friends</h1>

  <div class="about-content">
    <p>
      A collection of games you can play with your friends. Games are either web games or PC games.
      They all support multiplayer with at least two players. The focus of this page is to make it
      easier to play games with your friends. Traditional online games where you often play with
      strangers are only listed when they also have some form of private game rooms.
    </p>

    <p>
      Some games also support local multiplayer with multiple controllers (gamepad or smartphones)
      on one computer. Other games might require sharing the screen so that everyone can see the game.
    </p>

    <p>
      Looking for games to play at a remote party? Here are some games we enjoyed with friends.
      To stay in contact during game sessions it is essential to have some kind of audio or video chat.
      We recommend <a href="https://meet.jit.si/" target="_blank" rel="noopener">Jitsi</a>,
      which is free and requires no setup as it runs in your browser.
    </p>

    <p>
      If you think a game is missing, open a PR or issue at <a href="https://github.com/DirkHeinke/play-with-friends"
        target="_blank" rel="noopener">https://github.com/DirkHeinke/play-with-friends</a>.
    </p>
  </div>
</div>