<div class="container imprint-page">
  <h1>Impressum / Legal Notice</h1>

  <section class="imprint-section">
    <p>Verantwortlich nach § 5 TMG / Responsible according to § 5 TMG</p>
    <address>
      Dirk Heinke<br />
      Arnikaweg 24<br />
      98693 Ilmenau<br />
      E-Mail: <a href="mailto:dirkheinke+pwf&#64;gmail.com">dirkheinke+pwf&#64;gmail.com</a>
    </address>
  </section>

  <section class="imprint-section">
    <h2>Datenschutzerklärung / Privacy Policy</h2>
    <p>
      Diese Seite erfasst keine personenbezogenen Daten. Es werden lediglich anonyme Daten
      gesammelt, um grobe Informationen über die Nutzung der Webseite zu bekommen.
    </p>
    <p>
      This page does not collect any personal data. However I do collect anonymous data to get
      information about the usage of this website.
    </p>
  </section>
</div>
